vs-project/Release/bspguy.exe
*.obj
*.tlog
*.log
*.recipe
*.exp
*.html
*.png
*.css
*.jpg
*.stamp
*.suo
*.bin
*.db-shm
*.db
*.db-wal
*.opendb
*.ipch
*.pdb
*.ilk
*.bsp
*.bak
*.vsidx
*.lock
*.exe
/build/*
vs-project/Release/bspguy.cfg
vs-project/glfw/src/Debug/glfw3.lib
vs-project/glfw/src/Release/glfw3.lib
vs-project/bspguy.dir/Debug/vc143.idb
vs-project/glfw/src/Debug/glfw3.lib
vs-project/glfw/src/Release/glfw3.lib
vs-project/bspguy.dir/Debug/bspguy.vcxproj.FileListAbsolute.txt
vs-project/bspguy.dir/Release/bspguy.vcxproj.FileListAbsolute.txt
vs-project/glfw/src/glfw.dir/Debug/glfw.vcxproj.FileListAbsolute.txt
vs-project/glfw/src/glfw.dir/Release/glfw.vcxproj.FileListAbsolute.txt
vs-project/Release/log.txt
*.enc
*.sarif
*.xml
*.lastcodeanalysissucceeded
vs-project/glfw/src/glfw.dir/Debug/CodeAnalysisResultManifest.txt
*.dmp
vs-project/fmt/fmt/Debug/fmtd.lib
vs-project/fmt/fmt/Release/fmt.lib
vs-project/fmt/fmt.dir/Debug/fmt.vcxproj.FileListAbsolute.txt
vs-project/fmt/fmt.dir/Release/fmt.vcxproj.FileListAbsolute.txt
*.lit
