build/.vs/*
build/CMakeFiles/*
vs-project/Release/bspguy.exe
*.obj
*.tlog
*.log
*.txt
*.recipe
*.exp
*.html
*.png
*.css
*.jpg
*.txt
*.stamp
*.in
*.cmake
*.suo
*.bin
*.db-shm
*.db
*.db-wal
*.opendb
*.ipch
*.pdb
*.ilk
*.bsp
*.bak
*.vsidx
*.lock
*.exe
vs-project/Release/bspguy.cfg
